@import '/node_modules/jquery.terminal/css/jquery.terminal.css'
@import '/node_modules/codemirror/lib/codemirror.css'
@import '/node_modules/codemirror/addon/dialog/dialog.css'
@import '/node_modules/codemirror/theme/monokai.css'
body
  background black
